%div{ data: { role: 'page' } }
  %div{ data: {role: 'header'} } 
    %h1 
      Video Show-
      = @user.username
  .ui-content{role: 'main'}
    %ul{data: {role:"listview"}}
      - @medias.each do |m|
        - uless m.video.blank?
          %li
            %div= videojs_rails sources: { mp4: m.videos.low_resolution.url }, height: '480'
            %div
              %span
                likes= "(#{m.likes.count})"
              %span
                comments="(#{m.comments.count})"
  %div{ data: { role: 'footer'}}