%div{ data: { role: 'page' } }
  %div{ data: {role: 'header'} } 
    %h1 
      Video Show-
      = @user.username
  .ui-content{role: 'main'}
    %ul{data: {role:"listview"}}
      - @medias.each do |m|
        %li
          %div= videojs_rails sources: { mp4: m.videos.low_resolution.url }, height: '480', id: m.object_id
          %div
            %span
              %h3 likes (#{m.likes.count})
            %span
              %h3 comments (#{m.comments.count})
  %div{ data: { role: 'footer'}}